{erl_opts, [debug_info]}.
{deps, [
        {erles, {git, "git@github.com:anakryiko/erles.git", {branch, "master"}}},
        {epipe, "~> 1.0"}
       ]}.
{plugins,
 [
  {rebar3_docsh, "*", {git, "https://github.com/erszcz/docsh", {ref, "ee59517"}}}
 ]}.

{shell, [
         %% {config, [{config, "config/sys.config"}]},
         {apps, [es]},
         {script_file, "_build/default/plugins/rebar3_docsh/script/docsh_rebar3_shell.escript"}
        ]}.
